.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 1rem;
}

.footerNav {
	text-align: right;
	margin-right: 1rem;
	text-decoration: none;
	letter-spacing: .1em;
	font-weight: bold;
	font-size: .75rem;
}

.link {
	display: inline-block;
	color: white;
	&:hover {
		opacity: 0.5;
		transition: opacity .15s ease-in;
	}
}