.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 1rem 0 1rem 0;
}

.nav {
	letter-spacing: .1em;
	font-weight: bold;
	font-size: .75rem;
	text-align: right;
	text-decoration: none; 
}

.link {
	display: inline-block;
	color: white;
	margin-right: 1rem;
	&:hover {
		opacity: .80;
		transition: opacity .15s ease-in;
	}
}